    <AssetList Version="3">
      <Assets>
        {%COMPOSITION_ASSETS%}
        {%SOLID_ASSETS%}
        {%MEDIA_ASSETS%}
      </Assets>
      <BinFolder Version="0">
        <ID>ffd1ba6c-c23f-49c1-8b1c-05ddb2ce9c83</ID>
        <IsExpanded>0</IsExpanded>
        <Name>Root</Name>
        <ParentFolderID>00000000-0000-0000-0000-000000000000</ParentFolderID>
        <Assets>
          {%COMPOSITION_ASSET_IDS%}
          {%SOLID_ASSET_IDS%}
          {%MEDIA_ASSET_IDS%}
        </Assets>
        <SubFolders/>
      </BinFolder>
    </AssetList>
