        <CompositionAsset Version="11">
          <ID>{%ASSET_ID%}</ID>
          <Name>{%TITLE%}</Name>
          <ParentFolderID>00000000-0000-0000-0000-000000000000</ParentFolderID>
          <CTI>0</CTI>
          <InPoint>0</InPoint>
          <OutPoint>1800</OutPoint>
          <TimelineZoom>0</TimelineZoom>
          <SplitterPosition>440</SplitterPosition>
          <TimelineTimeFormat>1000</TimelineTimeFormat>
          <TimelineSnapMode>1000</TimelineSnapMode>
          <AudioVideoSettings Version="0">
            <FrameCount>{%FRAME_COUNT%}</FrameCount>
            <AudioSampleRate>48000</AudioSampleRate>
            <Width>1920</Width>
            <Height>1080</Height>
            <Fields>0</Fields>
            <PAR>0</PAR>
            <PARCustom>1</PARCustom>
            <FrameRate>60</FrameRate>
          </AudioVideoSettings>
          <RenderSettings Version="1">
            <FogEnabled>0</FogEnabled>
            <FogNearDistance>900</FogNearDistance>
            <FogFarDistance>2000</FogFarDistance>
            <FogDensity>1</FogDensity>
            <FogColor R="0" B="0" G="0" A="1"/>
            <FogFalloff>0</FogFalloff>
            <MotionBlurEnabled>1</MotionBlurEnabled>
            <ShutterAngle>180</ShutterAngle>
            <ShutterPhase>0</ShutterPhase>
            <MaxNumOfSamples>20</MaxNumOfSamples>
            <UseAdaptiveSamples>1</UseAdaptiveSamples>
          </RenderSettings>
          <Layers>
            {%TEXT_LAYER%}
            {%SOLID_LAYER%}
            {%MEDIA_LAYER%}
          </Layers>
          <Instances/>
          <ViewerState Version="3">
            <CurrentLayout>0</CurrentLayout>
            <Layout0 Pos0="6356e43f-0af3-439c-9c30-c3432cbcf079"/>
            <Layout1/>
            <Layout2 Sp2="0" Sp0="0.5" Sp1="0"/>
            <Layout3 Sp2="0.5" Sp0="0.5" Sp1="0"/>
            <Layout4 Sp2="0.5" Sp0="0.5" Sp1="0.5"/>
            <Views>
              <State Type="0" CameraScale="1" ID="6356e43f-0af3-439c-9c30-c3432cbcf079" TextureScale="0.401835" Active="1" Layout="0">
                <TexturePosition Y="0" X="0"/>
                <TextureAnchorPoint Y="0" X="0"/>
                <CameraPosition Y="0" X="0" Z="0"/>
                <CameraRotation Y="0" X="0" Z="0"/>
                <Options Ch="0" TrPa="1" Li="1" Sh="1" MB="1" DOF="1" Qu="2" BiTo="1" TrCb="1" Re="1" WoAx="1" Gz="0" MoPa="1" Vol="1">
                  <BGColor R="0" B="0" G="0" A="0"/>
                </Options>
              </State>
            </Views>
          </ViewerState>
        </CompositionAsset>
