        <MediaAsset Version="3">
          <ID>{%ASSET_ID%}</ID>
          <Name>Original Video Clip</Name>
          <ParentFolderID>00000000-0000-0000-0000-000000000000</ParentFolderID>
          <Filename>{%FILE_PATH%}</Filename>
          <IsImageSequence>0</IsImageSequence>
          <MergedAudioFilename/>
          <MergedAudioOffset>0</MergedAudioOffset>
          <OverrideFrameRate>0</OverrideFrameRate>
          <FrameRate>{%FRAME_RATE%}</FrameRate>
          <OverrideFields>0</OverrideFields>
          <Fields>0</Fields>
          <OverridePAR>0</OverridePAR>
          <PAR>0</PAR>
          <OverrideAlpha>0</OverrideAlpha>
          <AlphaMode>0</AlphaMode>
          <InPoint>0</InPoint>
          <OutPoint>4944</OutPoint>
          <Instances>
            <Instance Type="2" CompID="{%COMPOSITION_ASSET_ID%}" ID="{%LAYER_ID%}"/>
          </Instances>
        </MediaAsset>
