<?xml version="1.0" encoding="UTF-8"?>
<BiffProject CurrentScreen="2" AppVersion="5.0.7012.39363" AppEdition="1000">
  <Project Version="3">
    <ID>a742d49c-4249-4373-907b-eb72b9a8ccd0</ID>
    <Name/>
    <ProjectSettings Version="5">
      <BPC>1000</BPC>
      <AntialiasingMode>1</AntialiasingMode>
      <ReflectionMapSize>512</ReflectionMapSize>
      <ModelTextureMaxSize>4096</ModelTextureMaxSize>
      <ShadowMapSize>2048</ShadowMapSize>
      <UseFullDataRange>0</UseFullDataRange>
    </ProjectSettings>
    {%ASSET_LIST%}
    <EditorSequence Version="3">
      <ID>55c756ac-4f77-4376-bc50-9f791e9b4271</ID>
      <Name>Editor</Name>
      <CTI>0</CTI>
      <InPoint>0</InPoint>
      <OutPoint>17982</OutPoint>
      <TimelineZoom>0</TimelineZoom>
      <TimelineTimeFormat>1000</TimelineTimeFormat>
      <TimelineSnapMode>1000</TimelineSnapMode>
      <VideoPreviewSize>1001</VideoPreviewSize>
      <AudioPreviewSize>1001</AudioPreviewSize>
      <PreviewMode>1002</PreviewMode>
      <AudioVideoSettings Version="0">
        <FrameCount>21593</FrameCount>
        <AudioSampleRate>48000</AudioSampleRate>
        <Width>1920</Width>
        <Height>1080</Height>
        <Fields>0</Fields>
        <PAR>0</PAR>
        <PARCustom>0</PARCustom>
        <FrameRate>59.94</FrameRate>
      </AudioVideoSettings>
      <Video>
        <VideoTrack Version="0">
          <ID>929badac-d099-4f72-9580-6a4398f7c78b</ID>
          <Name>Video 1</Name>
          <Visible>1</Visible>
          <Objects/>
        </VideoTrack>
      </Video>
      <Audio>
        <AudioTrack Version="1">
          <ID>604a7af6-45d5-45c2-9066-f396ab9ba2c8</ID>
          <Name>Audio 1</Name>
          <Muted>0</Muted>
          <Solo>0</Solo>
          <PropertyManager Version="5">
            <audioLevel Type="0" CanInterpT="1" Spatial="0">
              <Default V="4">
                <fl>0</fl>
              </Default>
            </audioLevel>
            <stereoBalance Type="0" CanInterpT="1" Spatial="0">
              <Default V="4">
                <fl>0</fl>
              </Default>
            </stereoBalance>
          </PropertyManager>
          <Objects/>
        </AudioTrack>
      </Audio>
      <AudioMaster>
        <AudioTrack Version="1">
          <ID>b4822402-17dd-4d43-91a2-3a4e78a576c5</ID>
          <Name>Master</Name>
          <Muted>0</Muted>
          <Solo>0</Solo>
          <PropertyManager Version="5">
            <audioLevel Type="0" CanInterpT="1" Spatial="0">
              <Default V="4">
                <fl>0</fl>
              </Default>
            </audioLevel>
            <stereoBalance Type="0" CanInterpT="1" Spatial="0">
              <Default V="4">
                <fl>0</fl>
              </Default>
            </stereoBalance>
          </PropertyManager>
          <Objects/>
        </AudioTrack>
      </AudioMaster>
      <ViewerState Version="3">
        <CurrentLayout>0</CurrentLayout>
        <Layout0 Pos0="222861da-99b2-4e95-9394-4140e2caf34d"/>
        <Layout1/>
        <Layout2 Sp2="0" Sp0="0.5" Sp1="0"/>
        <Layout3 Sp2="0.5" Sp0="0.5" Sp1="0"/>
        <Layout4 Sp2="0.5" Sp0="0.5" Sp1="0.5"/>
        <Views>
          <State Type="0" CameraScale="1" ID="222861da-99b2-4e95-9394-4140e2caf34d" TextureScale="0.401835" Active="1" Layout="0">
            <TexturePosition Y="0" X="0"/>
            <TextureAnchorPoint Y="0" X="0"/>
            <CameraPosition Y="0" X="0" Z="0"/>
            <CameraRotation Y="0" X="0" Z="0"/>
            <Options Ch="0" TrPa="1" Li="1" Sh="1" MB="1" DOF="1" Qu="2" BiTo="1" TrCb="1" Re="1" WoAx="1" Gz="0" MoPa="1" Vol="1">
              <BGColor R="0" B="0" G="0" A="0"/>
            </Options>
          </State>
        </Views>
      </ViewerState>
    </EditorSequence>
    <Metadata Version="0">
      <bool>
        <Item K="273094326" V="0"/>
        <Item K="273094126" V="1"/>
        <Item K="273093528" V="0"/>
        <Item K="2936165842" V="1"/>
        <Item K="2936165829" V="0"/>
        <Item K="2936165834" V="1"/>
      </bool>
      <int32_t>
        <Item K="273093625" V="1200"/>
        <Item K="273093526" V="1001"/>
        <Item K="273094124" V="2"/>
        <Item K="2936165824" V="1920"/>
        <Item K="273093525" V="1000"/>
        <Item K="273093631" V="1"/>
        <Item K="273094324" V="0"/>
        <Item K="273093527" V="0"/>
        <Item K="273093524" V="1001"/>
        <Item K="2936165841" V="20"/>
        <Item K="2936165827" V="0"/>
        <Item K="273093632" V="32"/>
        <Item K="273094325" V="0"/>
        <Item K="273093624" V="1001"/>
        <Item K="273095024" V="1001"/>
        <Item K="2936165724" V="1920"/>
        <Item K="2936165725" V="1080"/>
        <Item K="2936165833" V="0"/>
        <Item K="2936165726" V="0"/>
        <Item K="2936165825" V="1080"/>
      </int32_t>
      <float>
        <Item K="2936165840" V="0"/>
        <Item K="273094024" V="1700"/>
        <Item K="2936165835" V="180"/>
        <Item K="273094025" V="800"/>
        <Item K="2936165826" V="60"/>
        <Item K="2936165839" V="0"/>
        <Item K="2936165838" V="0"/>
        <Item K="2936165832" V="1"/>
        <Item K="2936165830" V="900"/>
        <Item K="2936165831" V="2000"/>
        <Item K="2936165836" V="0"/>
      </float>
      <FXID>
        <Item K="273093626" V="55c756ac-4f77-4376-bc50-9f791e9b4271"/>
      </FXID>
      <wstring/>
    </Metadata>
    <Effects/>
  </Project>
  <OpenCompositeShots Version="0" TimelineType="1200" TimelineId="55c756ac-4f77-4376-bc50-9f791e9b4271">
    {%COMPOSITE_SHOTS%}
  </OpenCompositeShots>
  <Screens/>
</BiffProject>
