        <SolidAsset Version="0">
          <ID>{%ASSET_ID%}</ID>
          <Name>Black background</Name>
          <ParentFolderID>00000000-0000-0000-0000-000000000000</ParentFolderID>
          <Color R="0" B="0" G="0" A="1"/>
          <Width>1920</Width>
          <Height>1080</Height>
          <PAR>0</PAR>
          <Instances>
            <Instance Type="2" CompID="{%COMPOSITION_ASSET_ID%}" ID="{%LAYER_ID%}"/>
          </Instances>
        </SolidAsset>
