            <TextLayer Version="7">
              <Dimensions>0</Dimensions>
              <MinX>-850</MinX>
              <MaxX>1050</MaxX>
              <MinY>-300</MinY>
              <MaxY>100</MaxY>
              <IncludeInDepthMap>1</IncludeInDepthMap>
              <Tokens>
                {%TITLE%}
                {%SEPARATOR%}
                {%DATE%}
              </Tokens>
              <Formats>
                <Format Size="150" ID="{%TITLE_FORMAT_ID%}" Leading="-1" StrokeWidth="0" Tracking="0">
                  <Family>Impact</Family>
                  <Style>Impact</Style>
                  <FillColor R="1" B="1" G="1" A="1"/>
                  <StrokeColor R="1" B="0" G="0" A="1"/>
                </Format>
                <Format Size="100" ID="{%DATE_FORMAT_ID%}" Leading="-1" StrokeWidth="0" Tracking="0">
                  <Family>Trebuchet MS</Family>
                  <Style>Trebuchet MS</Style>
                  <FillColor R="1" B="1" G="1" A="1"/>
                  <StrokeColor R="1" B="0" G="0" A="1"/>
                </Format>
                <Format Size="50" ID="{%SEPARATOR_FORMAT_ID%}" Leading="-1" StrokeWidth="0" Tracking="0">
                  <Family>Trebuchet MS</Family>
                  <Style>Trebuchet MS</Style>
                  <FillColor R="1" B="1" G="1" A="1"/>
                  <StrokeColor R="1" B="0" G="0" A="1"/>
                </Format>
              </Formats>
              <Effects/>
              <Masks/>
              <LayerBase Version="0">
                <ID>{%LAYER_ID%}</ID>
                <Name>Title</Name>
                <CompID>{%COMPOSITION_ASSET_ID%}</CompID>
                <ParentLayerID>00000000-0000-0000-0000-000000000000</ParentLayerID>
                <StartFrame>0</StartFrame>
                <EndFrame>1800</EndFrame>
                <BlendMode>0</BlendMode>
                <Visible>1</Visible>
                <Muted>0</Muted>
                <Locked>0</Locked>
                <MotionBlurOn>0</MotionBlurOn>
                <PropertyManager Version="5">
                  <rotationZ Type="0" CanInterpT="1" Spatial="0">
                    <Default V="4">
                      <fl>0</fl>
                    </Default>
                  </rotationZ>
                  <anchorPoint Type="0" CanInterpT="1" Spatial="1">
                    <Default V="4">
                      <p3 Y="0" X="0" Z="0"/>
                    </Default>
                  </anchorPoint>
                  <position Type="0" CanInterpT="1" Spatial="1">
                    <Default V="4">
                      <p3 Y="0" X="0" Z="0"/>
                    </Default>
                    <Static V="4">
                      <p3 Y="0" X="-100" Z="0"/>
                    </Static>
                  </position>
                  <scale Type="0" CanInterpT="1" Spatial="0">
                    <Default V="4">
                      <sc Y="100" X="100" Z="100"/>
                    </Default>
                  </scale>
                  <rotationY Type="0" CanInterpT="1" Spatial="0">
                    <Default V="4">
                      <fl>0</fl>
                    </Default>
                  </rotationY>
                  <scaleLinked Type="1" CanInterpT="0" Spatial="0">
                    <Default V="4">
                      <b>1</b>
                    </Default>
                  </scaleLinked>
                  <castAmbientOcclusion Type="1" CanInterpT="0" Spatial="0">
                    <Default V="4">
                      <b>0</b>
                    </Default>
                  </castAmbientOcclusion>
                  <orientation Type="0" CanInterpT="1" Spatial="1">
                    <Default V="4">
                      <or Y="0" X="0" Z="0"/>
                    </Default>
                  </orientation>
                  <rotationX Type="0" CanInterpT="1" Spatial="0">
                    <Default V="4">
                      <fl>0</fl>
                    </Default>
                  </rotationX>
                  <opacity Type="0" CanInterpT="1" Spatial="0">
                    <Default V="4">
                      <fl>100</fl>
                    </Default>
                    <Static V="4">
                      <fl>100</fl>
                    </Static>
                    <Animation>
                      <Key STp="2" Tp="1" V="5" Ti="0">
                        <TLk>0</TLk>
                        <SLk>0</SLk>
                        <Vl V="4">
                          <fl>100</fl>
                        </Vl>
                      </Key>
                      <Key STp="2" Tp="1" V="5" Ti="1000">
                        <TLk>0</TLk>
                        <SLk>0</SLk>
                        <Vl V="4">
                          <fl>100</fl>
                        </Vl>
                      </Key>
                      <Key STp="2" Tp="1" V="5" Ti="2000">
                        <TLk>0</TLk>
                        <SLk>0</SLk>
                        <Vl V="4">
                          <fl>0</fl>
                        </Vl>
                      </Key>
                    </Animation>
                  </opacity>
                  <illuminated Type="1" CanInterpT="0" Spatial="0">
                    <Default V="4">
                      <b>1</b>
                    </Default>
                  </illuminated>
                  <receiveShadows Type="1" CanInterpT="0" Spatial="0">
                    <Default V="4">
                      <b>1</b>
                    </Default>
                  </receiveShadows>
                  <matShininess Type="0" CanInterpT="1" Spatial="0">
                    <Default V="4">
                      <fl>100</fl>
                    </Default>
                  </matShininess>
                  <shadowColor Type="0" CanInterpT="1" Spatial="0">
                    <Default V="4">
                      <cl R="0" B="0" G="0" A="1"/>
                    </Default>
                  </shadowColor>
                  <castShadows Type="1" CanInterpT="0" Spatial="0">
                    <Default V="4">
                      <b>0</b>
                    </Default>
                  </castShadows>
                  <matEmissiveColor Type="0" CanInterpT="1" Spatial="0">
                    <Default V="4">
                      <cl R="0" B="0" G="0" A="1"/>
                    </Default>
                  </matEmissiveColor>
                  <castShadowsIfLayerDisabled Type="1" CanInterpT="0" Spatial="0">
                    <Default V="4">
                      <b>0</b>
                    </Default>
                  </castShadowsIfLayerDisabled>
                  <billboardedShadows Type="1" CanInterpT="0" Spatial="0">
                    <Default V="4">
                      <b>0</b>
                    </Default>
                  </billboardedShadows>
                  <billboardedLights Type="1" CanInterpT="0" Spatial="0">
                    <Default V="4">
                      <b>0</b>
                    </Default>
                  </billboardedLights>
                  <matAmbient Type="0" CanInterpT="1" Spatial="0">
                    <Default V="4">
                      <fl>100</fl>
                    </Default>
                  </matAmbient>
                  <matDiffuse Type="0" CanInterpT="1" Spatial="0">
                    <Default V="4">
                      <fl>50</fl>
                    </Default>
                  </matDiffuse>
                  <matSpecular Type="0" CanInterpT="1" Spatial="0">
                    <Default V="4">
                      <fl>50</fl>
                    </Default>
                  </matSpecular>
                  <castReflections Type="1" CanInterpT="0" Spatial="0">
                    <Default V="4">
                      <b>0</b>
                    </Default>
                  </castReflections>
                  <castReflectionsIfLayerDisabled Type="1" CanInterpT="0" Spatial="0">
                    <Default V="4">
                      <b>0</b>
                    </Default>
                  </castReflectionsIfLayerDisabled>
                  <receiveReflections Type="1" CanInterpT="0" Spatial="0">
                    <Default V="4">
                      <b>0</b>
                    </Default>
                  </receiveReflections>
                  <specularReflectivity Type="0" CanInterpT="1" Spatial="0">
                    <Default V="4">
                      <fl>100</fl>
                    </Default>
                  </specularReflectivity>
                  <receiveAmbientOcclusion Type="1" CanInterpT="0" Spatial="0">
                    <Default V="4">
                      <b>0</b>
                    </Default>
                  </receiveAmbientOcclusion>
                  <aoSamples Type="1" CanInterpT="1" Spatial="0">
                    <Default V="4">
                      <i>4</i>
                    </Default>
                  </aoSamples>
                  <aoSampleRadius Type="1" CanInterpT="1" Spatial="0">
                    <Default V="4">
                      <i>15</i>
                    </Default>
                  </aoSampleRadius>
                  <aoIntensity Type="1" CanInterpT="1" Spatial="0">
                    <Default V="4">
                      <fl>50</fl>
                    </Default>
                  </aoIntensity>
                  <aoDepthScale Type="1" CanInterpT="1" Spatial="0">
                    <Default V="4">
                      <fl>10</fl>
                    </Default>
                  </aoDepthScale>
                  <aoBias Type="1" CanInterpT="1" Spatial="0">
                    <Default V="4">
                      <fl>0.01</fl>
                    </Default>
                  </aoBias>
                  <aoBlurRadius Type="1" CanInterpT="1" Spatial="0">
                    <Default V="4">
                      <i>5</i>
                    </Default>
                  </aoBlurRadius>
                  <aoDepthFallOff Type="1" CanInterpT="1" Spatial="0">
                    <Default V="4">
                      <fl>10</fl>
                    </Default>
                  </aoDepthFallOff>
                </PropertyManager>
              </LayerBase>
            </TextLayer>
